/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  // height: 100%;
  // background-color:  #361f75;
  // overflow: hidden;
  background: linear-gradient(#0d0b12, #361f75);
  background-size: auto;
}